.store-cart h2 {
    font-size: 16px;
    color: #0c0d36;
    font-weight: 600;
    margin-top: 18px;
}
.store-cart .product-title {
    font-size: 18px;
    color: #0c0d36;
    margin-top: 15px;
}
.store-cart .product-subtitle {
    font-size: 14px;
    color: #979797;
}
.table-cart {
    margin: 0 -15px;
}
.table-cart th {
    font-weight: 200;
}
.table-cart .cart-image {
    border-radius: 8px;
    max-height: 85px;
}
.table-cart .btn-remove-cart {
    margin-top: 18px;
    background-color: #fc5e84;
    color: #ffffff;
}
.table-cart .btn-remove-cart:hover {
    background-color: #fd6b8d;;
}